.AccountInfo {
  text-align: center;
}

.Account-background {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}

.account {
  position: absolute;
  width: 154px;
  height: 36px;
  left: 527px;
  left: calc((100vw / 1.5) - 10px);
  top: 100px;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;

  color: #68390d;
}

.password {
  position: absolute;
  width: 170px;
  height: 21px;
  left: calc((100vw / 1.5) - 70px);
  top: 200px;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;

  color: #68390d;
}

.new-password {
  position: absolute;
  width: 170px;
  height: 21px;
  left: calc((100vw / 1.5) - 70px);
  top: 300px;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;

  color: #68390d;
}

.phone {
  position: absolute;
  width: 170px;
  height: 18px;
  left: calc((100vw / 1.5) - 77px);
  top: 400px;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;

  color: #68390d;
}

.email {
  position: absolute;
  width: 170px;
  height: 15px;
  left: calc((100vw / 1.5) - 71px);
  top: 500px;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;

  color: #68390d;
}

.alt-email {
  position: absolute;
  width: 170px;
  height: 15px;
  left: calc((100vw / 1.5) - 60px);
  top: 600px;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;

  color: #68390d;
}

.input[type="text"] {
  position: absolute;
  width: 245px;
  height: 51px;
  left: calc((100vw / 1.5) - 55px);
  top: 235px;

  box-sizing: border-box;
  border: 0px;
  background: #cbdae1;
  outline: none;

  color: black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.input[type="text"]:focus {
  border: 2px solid #ecd1c2;
}

.input1[type="text"] {
  position: absolute;
  width: 245px;
  height: 51px;
  left: calc((100vw / 1.5) - 55px);
  top: 335px;

  box-sizing: border-box;
  border: 0px;
  background: #cbdae1;
  outline: none;

  color: black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.input1[type="text"]:focus {
  border: 2px solid #ecd1c2;
}

.input-phone[type="text"] {
  position: absolute;
  width: 245px;
  height: 51px;
  left: calc((100vw / 1.5) - 55px);
  top: 435px;

  box-sizing: border-box;
  border: 0px;
  background: #cbdae1;
  outline: none;

  color: black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.input-phone[type="text"]:focus {
  border: 2px solid #ecd1c2;
}

.input-email[type="email"] {
  position: absolute;
  width: 245px;
  height: 51px;
  left: calc((100vw / 1.5) - 55px);
  top: 535px;

  box-sizing: border-box;
  border: 0px;
  background: #cbdae1;
  outline: none;

  color: black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.input-email[type="email"]:focus {
  border: 2px solid #ecd1c2;
}

.input-email1[type="email"] {
  position: absolute;
  width: 245px;
  height: 51px;
  left: calc((100vw / 1.5) - 55px);
  top: 635px;

  box-sizing: border-box;
  border: 0px;
  background: #cbdae1;
  outline: none;

  color: black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.input-email1[type="email"]:focus {
  border: 2px solid #ecd1c2;
}

.button {
  position: absolute;
  width: 130px;
  height: 38px;
  left: calc(100vw / 1.5);
  top: 730px;

  border: 1px solid #f0e6db;
  background-color: #ecd1c5;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  color: #68390d;
  text-align: center;
  font-size: 15px;
  font-weight: normal;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  opacity: 0.9;
  transition: 0.3s;
  cursor: pointer;
}

.button:hover {
  opacity: 1;
}

.button:active {
  background-color: #ecd1c2;
  box-shadow: 0 1px #666;
  transform: translateY(3px);
}

.side-panel {
  position: absolute;
  text-align: center;
  height: 100vh;
  width: 20vw;
  background: #cbdae1;
}

.logo {
  position: relative;
  width: 100px;
  height: 100px;
  top: 130px;
}

.nav {
  position: relative;
  top: 160px;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;

  color: #68390d;
}

ul {
  margin: 1;
  padding: 0;
}

li a {
  display: block;
  color: #68390d;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: #ecd1c2;
  color: #68390d;
}

li a:hover {
  background-color: #ecd1c2;
  color: #68390d;
}

.profile-pic {
  position: relative;
  width: 135px;
  height: 135px;
  top: 270px;
  left: calc(20vw / 2);
  border-radius: 75px;
}

.account-panel {
  position: absolute;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 47vw;
  background: #62808e;
}

.name {
  position: absolute;
  width: 121px;
  height: 18px;
  top: 400px;
  left: calc((100vw / 3) - 55px);

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;

  color: #e3d4c6;
}

.last-password {
  position: absolute;
  width: 230px;
  height: 21px;
  top: 450px;
  left: calc((100vw / 3) - 110px);

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;

  color: #e3d4c6;
}
