.bulletinBoardBox {
    background: #e8d1b5;
    border: 4px solid #aa896b;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.profileCircle {
    background: #f0e6db;
    border: 4px solid #aa896b;
    box-sizing: border-box;
    border-radius: 80px;
    width: 100px;
    height: 100px;
    align-items: center;

    font-family: "Roboto";
    font-style: normal;
    text-align: center;

    color: #aa896b;
}

.BoardNameHeader {
    font-family: "Roboto";
    font-style: normal;
    line-height: 23px;

    color: #68390d;
}

.BoardDescription {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;

    color: rgba(104, 57, 13, 0.54);
}

.NoteHeader {
    font-family: "Roboto";
    font-style: normal;
    line-height: 20px;

    color: #68390d;
}

.NoteAdd {
    font-family: "Roboto";
    font-style: normal;
    line-height: 20px;

    color: #68390d;
}

.ListBox {
    background: #fff6ed;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 200px;
}

.ListFont {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;

    color: #631800;
}
.ExpenseBox {
    background: #d3f4d4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 200px;
}

.ExpenseFont {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;

    color: #032200;
}

.PersonalNoteBox {
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.PersonalNoteFont {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;

    color: #032200;
}
