a {
    text-decoration-color:  rgba(104, 57, 13, 0.54);
}

.manageHeaderBox{

    display: flex;
    margin: auto;
    padding: 10px;
    margin: auto;
    justify-content: center;

}

.managePhotoBox {
    width: 25%;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.profileCircle {
    min-width: 100px;
    width: 25%;
}

.underlineButton {
    padding-top: 1vh;
    text-decoration: underline;
}

.boardNameBox {
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    justify-content: center;
    padding-top: 2%;
}

.duplicateBoardBox {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 10%;
}

.newMemberInvitationBox {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.memberInfoBox {
    padding-left: 10vw;
    padding-right: 10vw;
    padding-bottom: 5vh;
}

.memberInfoHeaderBox {
    text-align: left;
    display: inline;
}

.permissionsGrid {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.leaveBoardButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-top: 20px;
}
.overlay{
    z-index: 2;
}
.InputText{
    width: 50%;
}
.boardDescription textarea {
    margin-top: 10px;
    height: 250px;
    width: 100%;
    min-height: 100%;
    resize: none;
}