$color-geyser: #cbdae1;
$color-nebula: #dde5e3;
$color-porcelain: #f0f3f3;
$color-dawn-pink: #f0e6db;
$color-almond: #eddcc8;
$color-pink: #ecd1c5;
$color-lynch: #62808e;
$color-brown: #68390d;
$color-white: #ffffff;
